---
layout: layout.njk
title: Play Games, Level Up
description: Play Games, Level Up
---

<div class="banner">
  <h1>Dev Arcade</h1>
  <p>Play Games, Level Up</p>
</div>

<div class="games">
  {%- for game in games %}
  <a
    class="game"
    href="{{ game.url }}"
    target="_blank"
  >
    <img
      alt="{{ game.title }} screenshot"
      class="game-image"
      src="images/{{ game.image }}"
    />
    {{ game.title }}
  </a>
  {%- endfor %}
</div>
